
.pitch {
    width: 1200px;
    height: 533px;
    border: 2px solid;
    position: relative;
    
}

@media screen and (max-width : 1200px) {
    .pitch {
        width: 90%;
        height: 553px;
        border: 2px solid;
    }
}
@media screen and (max-width : 992px) {
    .pitch {
        width: 98%;
        height: 553px;
        border: 2px solid;
    }
}
@media screen and (max-width : 768px) {
    .pitch {
        width: 90%;
        height: 753px;
        border: 2px solid;
    }
}

