.ReactModal__Overlay {
  opacity: 0;
  transform: scale(.3);
  transition: opacity 700ms ease-in-out, transform 500ms ease-in ;
}

.ReactModal__Overlay--after-open{
  transform: scale(1);
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  transform: scale(.3);
  opacity: 0;
}
  
.content{
    height: 300px;
    border: 0;
    width: 600px;
    border-radius: 60px;
    position: relative;
}

.condition {
    display: flex;
    justify-content: space-around;
}

.condition .single-condition {
    text-align: center;
    font-size: 20px;
}
.condition-text {
    letter-spacing: 4px;
    font-size: 14px ;
}

.content .teams {
    display: flex;
    justify-content: space-around;
    margin: 40px 10px;
    font-size: 25px;
}
.prediction-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.prediction-result {
  padding: 10px;
  background: #F88F00;
  color: white;
  width: 200px;
}
.modal-close {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
}

